<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>

    <!-- LOGIN -->
    <form id="login" method="post" action="../GestionForms/gestionaLogin.php">
        <label for="usuario">Nombre de usuario o email</label>
        <input type="text" name="usuario">

        <label for="clave">Contraseña</label>
        <input type="password" name="clave">

        <input type="submit" name="login">
    </form>

    <!-- REGISTRO -->
    <form id="registro" method="post" action="../GestionForm/gestionaRegistro.php">

        <label for="nombre">nombre</label>
        <input type="text" name="nombre">
        <label for="email">email</label>
        <input type="text" name="email">
        <label for="clave">contraseña</label>
        <input type="text" name="clave">
        <input type="submit" name="registrar">
    </form>

</body>

</html>