footer {
    color: #0F48A9;
    align-content: rigth;
    position: absolute;
    width: 99vw;
    background-color: whitesmoke;
}

footer table {
    float: right;
    width: 20%;
}

footer tr {
    margin: 12px 10px;
}

footer ul {
    list-style: none;
    padding: 0 12px;
    border-right: 1px solid #B8BABF;
}

footer p {
    font-size: 13px;
}