body {
    margin: 0;
    min-width: 550px;
    height: 100vh;
    min-height: 550px;
    position: absolute;
    overflow-x: hidden;
}

h1 {
    font-family: 'Barrio', cursive;
    text-align: center;
}

p,
h3 {
    font-family: 'Open Sans Condensed', sans-serif;
}

li {
    font-size: x-large;
}

h2 {
    text-align: center;
    color: white;
}

h3 {
    font-weight: bold;
    color: #032051;
}

li,
h2,
h4,
h5 {
    font-family: 'Amatic SC', cursive;
}

a {
    text-decoration: none;
    color: whitesmoke;
}