#lista-mensajes {
    display: flex;
    height: calc(75vh - 80px);
    width: 100%;
    padding: 40px;
}

.mensaje {
    height: 25vw;
    width: 15vw;
    border: 2px solid black;
    overflow: auto;
    transition: height 0.3s, width 0.3s, box-shadow 0.3s;
    min-width: 210px;
    min-height: 340px;
    overflow: hidden;
    overflow-wrap: normal;
}

.mensaje:hover {
    height: 26vw;
    width: 16vw;
    box-shadow: 0px 15px 58px #5a5a5a;
}

.cabecera-mensaje {
    background-color: #1c2225;
    width: 100%;
    height: 9vh;
    text-align: -webkit-center;
    padding-top: 1vh;
    margin-bottom: 5em;
}

.mensaje a {
    margin-top: 10px;
}

.perfil-usuario {
    background-image: url(../Assets/img/perfil.png);
    background-size: cover;
    width: 8vw;
    height: 8vw;
    min-width: 40px;
    min-height: 40px;
    border: 5px solid white;
    border-radius: 100%;
}

.cuerpo-mensaje {
    margin-top: 50px;
    padding: 0 20px;
}

.show {
    position: relative;
    left: 25vw;
    width: 50vw;
    height: 100vh;
}

.cabecera-mensaje img {
    border-radius: 100%;
    height: 104px;
}