#menu {
    position: fixed;
    margin: 0;
    width: 100vw;
    color: whitesmoke;
    min-width: 450px;
    z-index: 3;
}

.navBar:before {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: -100;
}

#menu .navBar {
    list-style: none;
    display: flex;
    min-width: 450px;
}

.navBar img {
    margin: 5px 15px;
    width: 30px;
    cursor: pointer;
    transition: width 0.3s;
}

.navBar img:hover {
    width: 35px;
}

#menu .botonesMenu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    min-width: 250px;
}

.botonesMenu .opcion {
    padding: 0 2vw;
    transition: font-size 0.3s;
    cursor: pointer;
    position: relative;
    z-index: 3;
    min-width: 60px;
}

.botonesMenu .opcion:hover {
    font-size: 28px;
}

.parent ul {
    position: absolute;
    margin-top: 15px;
    opacity: 0;
    transition: opacity 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0px 20px 20px 20px;
}

.parent li {
    transition: font-size 0.3s;
}

.parent ul,
.parent ul li {
    font-size: large;
}

.parent:hover ul {
    opacity: 1;
}

.parent ul li:hover {
    font-size: 25px;
}